.on {
  /* 2.套用屬性值的CSS變數 */
  color: var(--fill-color);
}

.off {
  /* 2.套用屬性值的CSS變數 */
  color: var(--empty-color);
}

.goodStyle {
  color: red;
}

.starBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}